<% if user_signed_in? %>
     <h1>Daft Punk is playing in YOUR House!</h1>
<% else %>    
<div class="hero-unit">
	<h1>Daft Punk is playing in My House! </h1>
	<p>
		You've found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application
	</p>

	<p>
		Help, dinosaurs are taking over Dayton!
	</p>

	<p>
		<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
<% end %>
