<div class="hero-unit">
	<h1>Daft Punk is playing in My House </h1>
	<p>
		You've found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application
	</p>

	<p>
		Help, dinosaurs are taking over Dayton!
	</p>

	<p>
		<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>